<div class="movie">
  <h1>{{movie.name}}</h1>

  <div class="movie-body">
    <div class="movie-body-img">
      <img [src]="movie.img | imgPath">
    </div>
    <div class="movie-body-info">
      <div>
        <strong>Genres: </strong> {{movie.genres.join(', ')}}
      </div>
      <div>
        <strong>Rate: </strong> {{movie.rate}}
      </div>
      <div>
        <strong>Length: </strong> {{movie.length}}
      </div>
      <div>
        <strong>Description: </strong> {{movie.description}}
      </div>
    </div>
  </div>

  <div class="recommendations" *ngIf="recommendedMovies.length">
    <h2>Similar genre films</h2>
    <div class="movies-list">
      <div class="movies-list-item" *ngFor="let recMovie of recommendedMovies">
        <app-movie
          [movie]="recMovie"
        ></app-movie>
      </div>
    </div>
  </div>
</div>
